
%table
  - settings(:greeting).split(" ").each do |word|
    %tr
      - word.split(//).each do |letter|
        %td
          - random_img(letter)
          
.quiet.right
  app by <a href="http://mrflip.com">mrflip</a><br />
  photos cropped by jo<br />
  go get <a href="http://github.com/mrflip/birthdaycardy">birthdaycardy's code</a> <br />
  and make your own frickin card
  
