%table
  %tr
    %td
      - random_img(:h)
    %td
      - random_img(:a)
    %td
      - random_img(:p)
    %td
      - random_img(:p)
    %td
      - random_img(:y)
  %tr
    %td
      - random_img(:b)
    %td
      - random_img(:i)
    %td
      - random_img(:r)
    %td
      - random_img(:t)
    %td
      - random_img(:h)
  %tr
    %td
      - random_img(:d)
    %td
      - random_img(:a)
    %td
      - random_img(:y)
  %tr
    %td
      - random_img(:b)
    %td
      - random_img(:e)
    %td
      - random_img(:c)
    %td
      - random_img(:k)
    %td
      - random_img(:y)
    
Hi
